//jpro configuration file

//general settings
jpro {

}

//for multiple applications within one jpro server
jpro.applications {
  //"app-name"=fully-qualified-class-name
}

// your jpro account
jpro.license {
  username = "YOUR_USERNAME"
  password = "YOUR_PWD"
  licensenumber = "YOUR_LICENSE"
}
